@model Survival.Models.WildlifeType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WildlifeType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FindChanceValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FindChanceValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseHuntValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseHuntValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
